[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-notifications-hq = "*"
celery = {extras = ["redis"],version = "*"}
gevent = "*"

[requires]
python_version = "3.6"
